In [2]:
# Import dependencies
from pymongo import MongoClient
import json
import requests 
import pandas as pd
from pprint import pprint

In [3]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [4]:
# confirm that our new database was created
print(mongo.list_database_names())

['WaterMN', 'admin', 'classDB', 'config', 'local', 'uk_food']

In [5]:
# Define the 'classDB' database in Mongo
db = mongo.Project_3

In [6]:
# review the collections in our new database
print(db.list_collection_names())

[]

In [7]:
#Print one record
pprint(db.Data.find_one())

None

In [8]:
#Query random record
query = {'WaterBody' : 'Bald Eagle'}
results = db.Data.find(query)
for result in results:
    print(result)

In [9]:
#Query random record
query = {'List of Aquatic Invasive Species':'zebra mussel'}
results = db.Data.find(query)
for result in results:
    print(result)

In [10]:
#Query random record
query = {'Year Listed Infested' : '2022'}
results =db.Data.find(query)
for result in results:
    pprint(result)

In [11]:
#Query all records from Data collections
Data = db['Data']
for x in db.Data.find():
    print(x)

In [12]:
#Using Aggregate function
query = [{'$group': {'_id' : "$List of Aquatic Invasive Species",'count': { '$sum': 1 }}}]
results = list(Data.aggregate(query))
sort_values = {'$sort': { 'count': -1 }}

In [13]:
# Using len 
print("Number of List of Aquatic Invasive Species in result: ", len(results))

Number of List of Aquatic Invasive Species in result:  0

In [14]:
 # Print the results
pprint(results[0:16])

[]

In [15]:
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

# Print out the length of the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display all 16 rows of the DataFrame
result_df.head(16)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

In [17]:
# Build the aggregation pipeline

# Write an aggregation query that counts the number of documents, grouped by "Country", then "classification"
#group_query = {'$group': {'_id': {"Counties": "$Counties",
                                  "List of Aquatic Invasive Species": "$List of Aquatic Invasive Species",
                                 "WaterBody": "$WaterBody","Year Listed Infested" : "$Year Listed Infested"}, 
                          'count': { '$sum': 1 }
                         }
              }

# Create a match query that matches only the rows that have 5 or more documents in 'count'
#match_query = {'$match': {'count': {'$lte': 1}}}

# Create a dictionary that will allow the pipeline to sort by country in alphabetical order, 
# then count in descending order
#sort_values = {'$sort': { '_id.Counties': 1, 'count': -1 }}

# Put the pipeline together
#pipeline = [group_query, sort_values]
#results = list(Data.aggregate(pipeline))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [18]:
# Build the aggregation pipeline

# Write an aggregation query that counts the number of documents, grouped by "all as per order"
group_query = {'$group': {'_id': {"Counties": "$Counties",
                                  "List of Aquatic Invasive Species": "$List of Aquatic Invasive Species",
                                 "WaterBody": "$WaterBody","Year Listed Infested" : "$Year Listed Infested"}, 
                          'count': { '$sum': 1 }
                         }
              }

# Create a match query that matches only the rows that have 5 or more documents in 'count'
#match_query = {'$match': {'count': {'$lte': 1}}}

# Create a dictionary that will allow the pipeline to sort by country in alphabetical order, 
# then count in descending order
sort_values = {'$sort': { '_id.Year Listed Infested': -1, 'count': 1 }}

# Put the pipeline together
pipeline = [group_query, sort_values]
results = list(Data.aggregate(pipeline))

In [19]:
#Print the len
print("Number of rows in result: ", len(results))

Number of rows in result:  0

In [20]:
#Print the first 10 results
pprint(results[0:10])

[]

In [23]:
 # Extract the fields from the _id so they're in separate columns in a Pandas DataFrame
aggregated_df = pd.json_normalize(results)
aggregated_df

Empty DataFrame
Columns: []
Index: []

In [24]:
import matplotlib.pyplot as plt

# Create a bar chart
plt.bar(aggregated_df['Year'], aggregated_df['count'])

# Set the title and axis labels
plt.title('Species Count')
plt.xlabel('County')
plt.ylabel('Count')

# Display the chart
plt.show()

KeyError: 'Year'